<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLkBREsLAiweCviLcdxvWMeCSFxVA3sKo&sensor=false">
    </script>
	<script src="js/main.js"></script>
	<style>
		#map-canvas{height:400px;}
	</style>
	<link rel="stylesheet" type="text/css" href="css/css.css" />
  </head>
    <body class="section">
		<div ng-controller="journeys" class="col span_2_of_5">
			{{journeys.length}} segments totalling <strong>{{totalDistance()}}</strong>, <a href="#" ng-click="addJourney()">add another</a>
			<br/>
			<br/>
			<div ng-repeat="journey in journeys" id="journeys">
				{{$index + 1}} Travel from <input type="text" ng-model="journey.start" placeholder="start location"/> to 
				<input type="text" ng-model="journey.end" placeholder="end location"/> 
				<strong>{{journey.distance/1000}} km</strong> <button ng-click="calculateDistance($index)">calculate</button>
			</div>
		</div>
		<div id="map-canvas" class="col span_3_of_5"></div>
		
    </body>
</html>